*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*当页面大于768px时，大屏幕，主要是PC端*/
@media (min-width: 768px) {
    html{
        width:1920px;
        height:2548px;
        background:rgba(255,252,245,1);
    }
    .nav{
        height: 77px;
        background: rgb(255, 227, 162);
    }
    .userMassage{
        height: 100%;
        width: 1440px;
        background: rgb(253, 208, 103);
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .user{
        width: 150px;
        height: 100%;
        background:#fff;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .userImage{
        border-radius: 50%;
        margin-right: 10px;
    }
    .welcome{
        width:75px;
        height:19px;
        font-size:14px;
        font-family:MicrosoftYaHei;
        color:rgba(90,50,60,1);
        line-height:19px;
    }
    .Triangle{
        width: 0;
        height: 0;
        border-top: 5px solid rgba(169,169,169,1);
        border-bottom: 5px solid transparent;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        margin-top: 8px;
    }
    .main{
        width: 1440px;
        height: 2000px;
        background: #fff;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .left{
        margin-right: 440px;
        height: 100%;
        background: lightblue;
    }
    .right{
        float: right;
        width: 440px;
        height: 100%;
        background: lightgreen;
    }
}




























/*当页面小于768px时，大屏幕，主要是移动端*/
@media (max-width: 768px) {
    html{
        background:rgb(255, 219, 133);
    }
}


